@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --blue: #2196F3;
    --black: #212121;
    --grey: #757575;
    --detail-color: rgb(255, 255, 255);
    --var-color-fondo-hover-focus: #2196F3;
    --var--var-colo-text-hover-focus: #FFF;
    --cubic-bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
    --time-animation: 250ms;
    --white: rgb(255, 255, 255);
    --blue: #2196f3;
    --black: #212121;
    --blue-text: rgb(33, 150, 243, 1);
    --card: rgb(33, 150, 243, 0.9);
    --dominant-color: rgb(33, 33, 33, 1);
    --white-font: rgb(255, 255, 255, 1);
    --background-title: rgb(47, 48, 58, 1);
    --background-sub-title: rgb(47, 48, 58, 0.8);
    --paragraph-color: rgb(117, 117, 117, 1);
    --second-background: rgba(245, 244, 250, 1);
    --border-icon: rgba(175, 177, 184, 1);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #000;
}

svg {
    fill: currentcolor;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.header__logo-blue {
    color: var(--blue);
    text-align: right;
    font-family: 'Raleway';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.header__btn-link {
    color: rgba(33, 33, 33, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.02em;
    text-align: left;
    cursor: pointer;
    transition: 250ms var(--cubic-bezier-animation);
}

.header__btn-link:hover,
.header__btn-link:focus {
    color: var(--blue);
    outline: none;
}

.header__menu-current::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5px;
    bottom: -25px;
    background-color: var(--blue);
    border-radius: 4px;
}

.header__email-item {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 250ms var(--cubic-bezier-animation);
}

.header__email-item:hover,
.header__email-item:focus,
.header__tel-item:hover,
.header__tel-item:focus {
    color: var(--blue);
}

.header__tel-item {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.03px;
    cursor: pointer;
    transition: 250ms var(--cubic-bezier-animation);
}

/*     estilos del header menu principal web studio */


.header__navegation-container {
    display: flex;
    justify-content: space-between;
}

.header__navegation-list {
    display: flex;
    column-gap: 80px;
    justify-content: center;
    align-content: center;
    /* padding: 25px; */
}

.header__contact-list {
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.header__menu-current {
    color: var(--blue);
}

/*-------- presentation--------- */

.presentation {
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    line-height: 1.8em;
    height: 600px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 50px;
    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(0, 0, 0, 0.4)), url(../images/soluciones\ eficases.jpg);
}


.presentation__container {
    display: flex;
    flex-direction: column;
    width: 945px;
    align-items: center;
    padding: 94px;
}

.presentation__title {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    line-height: 1.3em;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.presentation__button {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.18em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    border-radius: 4px;
}

/* ------about------ */


.about__title {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.about__text {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    text-align: justify;
}

.about-list {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.about__imagenes {
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms var(--cubic-bezier-animation);
}

.about__imagenes:hover {
    fill: var(--blue);
}

.about__item:focus {
    color: var(--blue);
}

/* ------service------- */

.service {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.service__title {
    color: #212121;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 44px;
    padding-top: 59px;
}

.service__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 94px;
}

.service__item {
    position: relative;
    padding-bottom: 10px;
}

.service__item-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(47, 48, 58, 0.80);
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 100%;
    height: 28%;
    bottom: 0px;
}

/* -------our----- */

.our-team {
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.our-team__title {
    color: #212121;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 44px;
    padding-top: 59px;
}

.our-team__list {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 94px;
}

.our-team__item {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0 0 0 / 0.2),
        0px 1px 1px 0px rgba(0 0 0 / 0.14),
        0px 1px 3px 0px rgba(0 0 0 / 0.12);
}

.our-team__item-name {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.our-team__item-paragraph {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
}

.our-team__item-redes {
    display: inline-flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.our-team__link-redes {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(175, 177, 184, 1);
    outline: none;
    transition: color 250ms var(--cubic-bezier-animation),
        background-color 250ms var(--cubic-bezier-animation);
}

.footer__web:hover,
.footer__web:focus,
.our-team__link-redes:hover,
.our-team__link-redes:focus {
    background-color: var(--blue);
    color: var(--detail-color);
}

/* ---------customer------- */

.customer__section {
    padding-bottom: 94px;
}

.customer__title {
    color: #212121;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16em;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 44px;
    padding-top: 59px;
}

.customer__list {
    display: flex;
    gap: 30px;
    padding-left: 15px;
}


.customer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 81px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: rgba(175, 177, 184, 1);
    transition: color 250ms var(--cubic-bezier-animation),
        border 250ms var(--cubic-bezier-animation);
}

.customer__link:hover,
.customer__link:focus {
    color: var(--blue);
    border: 2px solid var(--var-color-fondo-hover-focus);
    border-radius: 2px;
    outline: none;
}

/*-----------------footer-------------*/

.footer__directions {

    color: var(--white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.8em;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 70px;
}

.footer__container {
    background-color: rgba(47, 48, 58, 1);
}

.footer__address {
    display: inline-flex;
    align-items: baseline;
    gap: 62px;
}

.footer__network-item {
    display: inline-flex
}


.footer__link-list {
    list-style: none;
    font-style: normal;
    padding: 0%;
    width: 231px;
    height: 92px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71em;
    letter-spacing: 0.42px;
}

.footer__location {
    color: rgba(255, 255, 255, 1);
    transition: 250ms var(--cubic-bezier-animation);
}

.footer__email {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 250ms var(--cubic-bezier-animation);
}

.footer__location:hover,
.footer__email:hover,
.footer__email:focus,
.footer__tel:hover,
.footer__tel:focus {
    color: var(--blue);
}

.footer__tel {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.03px;
    cursor: pointer;
    transition: 250ms var(--cubic-bezier-animation);
}



.footer__caption {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6em;
    letter-spacing: 0.3em;
    text-transform: uppercase;

}

.footer__web {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgba(175, 177, 184, 1);
    transition: color 250ms var(--cubic-bezier-animation);
}

/* ------footer sucribase------- */

.footer__title {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6em;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}


.suscribirse-from {
    display: flex;
    gap: 12px;

}

.suscribirse-email {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    gap: 1px;
}

.suscribirse-email:hover {
    border: 1px solid var(--blue);
}

.suscribe-btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    gap: 12px;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8em;
    letter-spacing: 0.3px;
}

.suscribe-btn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.headr-button {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6em;
    width: 98;
    height: 26;
}

/*---------porfolio----------*/




.pv-main {
    padding: 5px 0;
}

.p-0 {
    padding: 0px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none
}

.fiter-button:hover {
    background: var(--blue);
    cursor: pointer;
}

.fiter-button:focus {
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
}

.fiter__button-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 50px 50px;
    transition: 250ms var(--cubic-bezier-animation);
}

.fiter-button {
    cursor: pointer;
    width: 73px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    Background: var(--blue);

}

.fiter-buttonw {
    color: rgba(33, 33, 33, 1);
    width: 128px;
    height: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    transition: 250ms var(--cubic-bezier-animation);
}

.fiter-buttona {
    color: rgba(33, 33, 33, 1);
    width: 145px;
    height: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    transition: 250ms var(--cubic-bezier-animation);
}

.fiter-buttond {
    color: rgba(33, 33, 33, 1);
    width: 103px;
    height: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    transition: 250ms var(--cubic-bezier-animation);
}

.fiter-buttonm {
    color: rgba(33, 33, 33, 1);
    width: 130px;
    height: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.0);
    transition: 250ms var(--cubic-bezier-animation);
}

.fiter-button:hover,
.fiter-button:focus,
.fiter-button:active,
.fiter-buttonw:hover,
.fiter-buttonw:focus,
.fiter-buttonw:active,
.fiter-buttona:hover,
.fiter-buttona:focus,
.fiter-buttona:active,
.fiter-buttond:hover,
.fiter-buttond:focus,
.fiter-buttond:active,
.fiter-buttonm:hover,
.fiter-buttonm:focus,
.fiter-buttonm:active {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--detail-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.fiter {
    transition: 250ms var(--cubic-bezier-animation);
}

/* --------card------- */

.card__title {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0.02em;
    transition: 250ms var(--cubic-bezier-animation);
}

.card__title:hover {
    color: #757575;
}

.card__subtitle {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.4;
}

.card__image {
    position: relative;
    overflow: hidden;
}

.card__image:hover>.card__information {
    top: 0;
}


.card__text {
    padding-left: 24px;
    padding-right: 24px;
}

.card__list {
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 82px;
    padding-left: 150px;
}

.card__item {

    flex-basis: calc((100% - 60px) / 9);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
}

.card__item:hover {
    box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card__information {
    position: absolute;
    top: 100%;
    width: 370px;
    height: 294px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--white-font);
    background-color: var(--card);
    margin: 0;
    transition: 250ms var(--cubic-bezier-animation);
}


/*------------------modal__backdrop--------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;

    transition: opacity 250ms var(--cubic-bezier-animation);
    visibility: 250ms var(--cubic-bezier-animation);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 528px;
    height: 581px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--white);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.icon-close:hover,
.icon-close:focus {
    color: var(--blue);

}

.modal__button {
    width: 30px;
    height: 30px;
    background-color: var(--white-font);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 250ms var(--cubic-bezier-animation);
}

.modal__button:hover,
.modal__button:focus {
    color: var(--blue-text);
    border: 1px solid var(--blue);
    cursor: pointer;
}

/*------------formulario------------*/

.modal__backen {
    display: flex;
    color: #212121;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    padding-top: 25.5px;
    padding-left: 41px;
    padding-right: 39px;
    cursor: pointer;
}

.modal__form-label {
    padding-left: 40px;
    width: 44px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
}

.modal__form-input {
    padding-bottom: 28px;
    padding-left: 40px;
    border: 2px solid none
}

.modal__for-name {
    cursor: pointer;
    position: absolute;
    width: 448px;
    height: 40px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    transition: border 250ms var(--cubic-bezier-animation);
    outline: none;
}

.modal__for-svg:hover,
.modal__for-svg:focus,
.modal__for-name:hover,
.modal__for-name:focus,
.modal__for-name:focus-visible,
.modal__for-name:focus-within {
    border: 2px solid var(--blue);
}

.modal__for-svg {
    position: relative;
    top: 14px;
    left: 12px;
    transform: translateY(-11%);
    outline: none;
    transition: 250ms var(--cubic-bezier-animation);
}

.modal__commit {
    width: 448px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 16px 16px;
    margin-left: 40px;
    transition: 250ms var(--cubic-bezier-animation);
    outline: none;
}

.modal__for-name:hover+.modal__for-svg,
.modal__for-name:focus+.modal__for-svg,
.modal__for-name:focus-within+.modal__for-svg {
    fill: var(--var-color-fondo-hover-focus);
    outline: none;

}

.modal__commit:hover {
    border-radius: 4px;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.modal__check {
    display: flex;
    width: 450px;
    height: 24px;
    color: var(--grey);
    padding-top: 0px;
    padding-left: 50px;
    position: relative;
}

.checkbox-checked {
    width: 16px;
    height: 15px;
    position: absolute;
    background-color: var(--brand-color);
    fill: var(--blue);
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;

}

.checkbox-unchecked {
    width: 16px;
    height: 15px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;

}

.modal__text {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.42px;
    padding-left: 24px;
    position: relative;
    bottom: 5px;
}

.checkbox:checked~.checkbox-unchecked {
    opacity: 0;
    visibility: hidden;
}

.checkbox:checked~.checkbox-checked {
    opacity: 1;
    visibility: visible;
}

.input-checkbox:focus,
.input-checkbox:focus-visible {
    border: 1px solid var(--var-color-fondo-hover-focus);
    background-color: var(--blue)
}

.form__buttom {
    padding-left: 160px;
    margin-top: 35px;
}

.buttom_input {
    background-color: rgba(33, 150, 243, 1);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8em;
    letter-spacing: 0.96px;
}

.buttom_input:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}