@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
$blue: #2196F3;
$black: #212121;
$grey: #757575;
$detail-color: rgb(255, 255, 255);
$var-color-fondo-hover-focus: #2196F3;
$var--var-colo-text-hover-focus: #FFF;
$cubic-bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;
$white: rgb(255, 255, 255);
$blue-text: rgb(33, 150, 243, 1);
$card: rgb(33, 150, 243, 0.9);
$dominant-color: rgb(33, 33, 33, 1);
$white-font: rgb(255, 255, 255, 1);
$background-title: rgb(47, 48, 58, 1);
$background-sub-title: rgb(47, 48, 58, 0.8);
$paragraph-color: rgb(117, 117, 117, 1);
$second-background: rgba(245, 244, 250, 1);
$border-icon: rgba(175, 177, 184, 1);
$footer: rgba(255, 255, 255, 0.1);
$footcolor: rgba(255, 255, 255, 1);
$backdrop: rgba(0, 0, 0, 0.5);
$modal: rgba(33, 33, 33, 0.20);
$porfolio: rgb(238, 238, 238);
$our: rgba(245, 244, 250, 1)